@model ArticleViewModel

@{
    ViewData["Title"] = "Статья";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <h4>@Model.Title</h4>
            @await Html.PartialAsync("_Options", Model.Tags.Select(t => t.Name).ToList())
            <div>
                <p class="text-end">@Model.TimeStamp.ToString("dd.MM.yyyy")</p>
                @Model.Text
            </div>

            <p class="text-end fst-italic mt-3">@Model.Author.Name (@Model.Author.Email)</p>
            <br />
            <hr />
            <h6 class="mb-3">Комментарии к статье</h6>
           
            @foreach (var comment in Model.Comments)
            {
                <p class="text-end">@comment.TimeStamp.ToString("dd.MM.yyyy")</p>
                <p class="border border-1 p-2">@comment.Text</p>
                
                <div class="d-flex mb-3">
                    @if (User.Identity.IsAuthenticated
                        && (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.Moderator.ToString()) || User.Identity.Name == comment.Author?.Login))
                    {
                        <a asp-controller="Comment" asp-action="Edit" asp-route-id="@comment.Id" class="me-3" title="Редактировать">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a asp-controller="Comment" asp-action="Delete" asp-route-id="@comment.Id" title="Удалить" 
                            onclick="return confirm('Вы действительно хотите удалить комментарий?');"><i class="fa-solid fa-trash-can"></i>
                        </a>
                    }
                    <p class="text-muted ms-auto fst-italic">@comment.Author?.Name</p>
                </div>
            }
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            <form asp-action="Add" asp-controller="Comment" method="post">
                <div class="mb-3">
                    <input type="hidden" name="ArticleId" value="@Model.Id" />
                    <label for="CommentText" class="form-label">Ваш комментарий</label>
                    <textarea class="form-control" asp-for="CommentText" rows="3"></textarea>
                    <span asp-validation-for="CommentText" class="text-danger"> </span>
                    <input class="btn btn-primary mt-3" type="submit" value="Сохранить" />
                </div>

            </form>
        }

    </div>
</div>

@section ValidationScripts {
    <partial name="_ValidationScriptsPartial" />
}
