@using Microsoft.AspNetCore.Html
@using System.Text
@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Пользователи";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <h4>@ViewData["Header"]</h4>
            @if (Model != null && Model.Count() > 0)
            {
                @foreach (var user in Model)
                {
                    <div class="card mb-3" style="width: 40rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a asp-controller="User" asp-action="GetById" asp-route-id="@user.Id" class="nav-link text-dark" style="padding-left: 0;">@user.Login</a>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">Имя: @user.Name</h6>
                            Роли:
                            @await Html.PartialAsync("_Options", user.Roles.Select(r => r.Name).ToList())
                            <p class="card-text">Почта: @user.Email</p>

                            <div class="d-flex mb-3">

                                @if (User.Identity.IsAuthenticated && User.IsInRole(Roles.Admin.ToString()))
                                {
                                    <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-outline-secondary btn-sm me-3">Редактировать</a>
                                    @Html.ActionLink("Удалить", "Delete", new { id = user.Id },
                        new {
                        onclick = $"return confirm('Вы действительно хотите удалить пользователя \"{user.Name}\" ?');",
                        @class = "btn btn-outline-danger btn-sm me-3"
                        })
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

<script>
    let form = document.getElementsByName("search")[0];
    form.style.display = "block";
    form.action = "/User/Search";
</script>